html body {
	background: #1E90FF;
}
h1{
	font-family: Arial;
}
h4 {
	font-family: Times;
	font-style: oblique;
}
p{
	text-align: middle;
}

footer { 
    display: block;
}
nav {
    display: block;
}
